In [1]:
import pandas as pd

In [17]:
data = pd.read_csv('ratings.csv')
class_rating = ''

def film_rating(param):
    """Определяет рейтинг как низкий, средний или высокий"""
    if param.rating <= 2.0:
        class_rating = 'low rated'
    elif 4.0 >= param.rating > 2.0:
        class_rating = 'average'
    elif param.rating >= 4.5:
        class_rating = 'high rated'
    return class_rating

data['class'] = data.apply(film_rating, axis = 1)
data.head(15)

    userId  movieId  rating   timestamp      class
0        1       31     2.5  1260759144    average
1        1     1029     3.0  1260759179    average
2        1     1061     3.0  1260759182    average
3        1     1129     2.0  1260759185  low rated
4        1     1172     4.0  1260759205    average
5        1     1263     2.0  1260759151  low rated
6        1     1287     2.0  1260759187  low rated
7        1     1293     2.0  1260759148  low rated
8        1     1339     3.5  1260759125    average
9        1     1343     2.0  1260759131  low rated
10       1     1371     2.5  1260759135    average
11       1     1405     1.0  1260759203  low rated
12       1     1953     4.0  1260759191    average
13       1     2105     4.0  1260759139    average
14       1     2150     3.0  1260759194    average

In [122]:
df = pd.read_csv('keywords.csv')

def region(row):
    """Определяет приинадлежность запроса какому-либо региону, если имеется упоминание"""
    reg = 'undefined'
    geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
    }
    for key, value in geo_data.items():
        for city in value:
            if city in row.keyword:
                reg = key
    return reg

df['region'] = df.apply(region, axis = 1)
df.loc[21440:21450]

                                         keyword  shows          region
21440                  морской бой играть онлайн  15028       undefined
21441                                   все сдал  14563       undefined
21442                                     вагнер  14495       undefined
21443                                   moneyman  14495       undefined
21444                           лучшие мелодрамы  16026       undefined
21445                                    сахалин  14494  Дальний Восток
21446                                     артрит  14494       undefined
21447                                         ад  14493       undefined
21448                          машкины страшилки  14541       undefined
21449  когда сажать перец на рассаду в 2017 году  14526       undefined
21450                  евроспорт 2 телепрограмма  18903       undefined

In [142]:
df1 = pd.read_csv("ratings.csv")
df2 = pd.read_csv("movies.csv")

df3 = pd.merge(df1, df2, on=["movieId"])
df3.to_csv("final.csv",index=False)

years = list(range(1950, 2010))

def prod_year(row):
    god = '1900'
    for year in years:
        if str(year) in row['title']:
            god = year
    return god
df3['year'] = df3.apply(prod_year, axis = 1)

In [153]:
df4 = df3.groupby('year')
df4.rating.mean().sort_values(ascending=False).head(50)

year
1957    4.014241
1972    4.011136
1952    4.000000
1974    3.999058
1954    3.994220
1951    3.983539
1962    3.952446
1950    3.915254
1977    3.905786
1964    3.841492
1959    3.841033
1958    3.823171
1969    3.817376
1967    3.814516
1975    3.812674
1960    3.809211
1976    3.806794
1973    3.806667
1979    3.779279
1981    3.758763
1953    3.754587
1955    3.751724
1971    3.748830
1966    3.736726
1980    3.708816
1963    3.705966
1970    3.700000
1968    3.685714
1965    3.678715
1961    3.663851
1983    3.658284
1984    3.654309
1982    3.639225
1991    3.628265
1956    3.612426
1987    3.606687
1900    3.592981
1985    3.586653
1988    3.552990
1978    3.549003
2007    3.548538
1994    3.537963
1993    3.536664
1989    3.534349
1986    3.528265
2009    3.520000
2006    3.511478
2008    3.498057
2004    3.491490
2001    3.474755
Name: rating, dtype: float64